{% extends "base.html" %}
{% block title %}Administration{% endblock %}
{% block stylesheets %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block content %}
	<h2 class="text-center">Page d'administration</h2>
	<div class="row">
		<div class="col-xs-12 col-lg-2">
		<ul class="nav nav-pills nav-stacked">
		  <li class="active"><a href="#main" data-toggle="tab">Tableau de bord</a></li>
		  <li><a href="#users" data-toggle="tab" >Utilisateurs</a></li>
		  <li><a href="{{ path('admin_logout') }}">Logout</a></li>
		</ul>
			
		</div>
	    <div class="col-xs-12 col-lg-10">
	    	<div class="tab-content">
		    	<div class="tab-pane fade in active adminTable" id="main">
		    		<div class="row">
		    			<div class="col-xs-12 col-sm-6">
				    		<h3>Google Analytics</h3>
							<section id="auth-button"></section>
							<section id="timeline"></section>
			    		</div>
			    		<div class="col-xs-12 col-sm-6">
			    			<h3>Participation à la bêta-test : {{ betas|length }}</h3>
							{% if betas %}
				    		<table class="table table-hover table-condensed">
				    			<thead>
								    <tr>
								      <th>#</th>
								      <th>E-mail</th>
								    </tr>
								</thead>
								<!-- TODO : insérer ici le code pour l'affichage des mails utilisés -->
								<tbody>
									{% for beta in betas %}
									<tr>
										<th scope="row">{{ beta.id }}</th>
										<td>{{ beta.mail }}</td>
									</tr>
									{% endfor %}
								</tbody>
				    		</table>
							{% else %}
								<div class="alert alert-warning">Pas encore d'inscrits pour la bêta.</div>
							{% endif %}
			    		</div>
		    		</div>
		    	</div>
		    	<div class="tab-pane fade adminTable" id="users">
			        {% if users %}
						<table class="table table-hover table-condensed">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom d'utilisateur</th>
									<th>Mail</th>
									<th>Role</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
								<tr>
									<th scope="row">{{ user.id }}</th>
									<td>{{ user.username }}</td>
									<td>{{ user.mail }}</td>
									<td>{{ user.role }}</td>
									<td>
										<a href="{{ path('admin_user_edit', { 'id': user.id }) }}" class="btn btn-info btn-xs" title="Editer"><span style="color:white;font-size:15px"class="glyphicon glyphicon-edit"></span></a>

									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<div class="alert alert-warning">Il n'y a aucun utilisateur.</div>
					{% endif %}
			    </div>
			</div>
	    </div>
	</div>
{% endblock %}
{% block javascripts %}
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Step 2: Load the library. -->
	<script>
		(function(w,d,s,g,js,fjs){
			g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
			js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
			js.src='https://apis.google.com/js/platform.js';
			fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
		}(window,document,'script'));
	</script>

	<!-- Google Analytics API. -->
	<script>
		gapi.analytics.ready(function() {
			// Put your application code here...
			gapi.analytics.auth.authorize({
				container: 'auth-button',
				clientid: '766397058913-l4otk7lv1c6ujc1f9ka9h55qp2sv9pml.apps.googleusercontent.com',
				userInfoLabel:""
			});


			var timeline = new gapi.analytics.googleCharts.DataChart({
				    reportType: 'ga',
				    query: {
				      'dimensions': 'ga:date',
				      'metrics': 'ga:users',
				      'start-date': '30daysAgo',
				      'end-date': 'yesterday',
				      'ids': "ga:134830503"
				    },
				    chart: {
				      type: 'LINE',
				      container: 'timeline'
				    }
				  });

			 gapi.analytics.auth.on('success', function(response) {
			    document.querySelector("#auth-button").style.display='none';
			    timeline.execute();
			  });
			  
		});
	</script>
{% endblock %}